:root{ 
    --primary-color: #31343D;
    --secondary-color: #85e7e4;

}

* {
    font-family: sans-serif;
    padding: 0;
    margin:0 ;
    text-shadow: .3px .3px #9ebbc1;

}

body {
    background: linear-gradient(
      35deg,
      #ffcccf,
      #b5fefa
    );
 
}

header { 
    background-color: var(--primary-color);
    background-size: 20px 20px;
    height: 80px;
}

header h1 {
    display: inline-block;
    padding: 2px 20px;
    margin-top: 19px;
}
a:hover{
    color:#e07be0;
  }

.portfolio img:hover {
    opacity: .6;
    transform: scale(1.02);
}

header a {
    color: var(--secondary-color);
    text-decoration: none;
}

header nav {
    margin-top: 20px 20px;
    float: right;
    
    font-size: 20px;
}
header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 4px 13px;
    border-bottom: solid 3.5px var(--secondary-color);;
    margin: 15px;
    position: relative;
    top: 5px
}
.hero {
    position:relative;
    float: left;
    height: 150px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/web-dev-banner-2.png");
    background-size: cover;
    background-position: center;
}

h2{
    background-color: RGBA(133,231,228,.9);
    color: var(--primary-color);
    float: right;
    position:absolute;
    bottom: 8px;
    right: 20px;
    padding: 4px;
}

h3{
    color: var(--primary-color);
    font-size: 30px;
    width: 100px;
    padding: 20px;
    margin: 50px;
    border-right: var(--primary-color) solid 3px ;
    text-align: right;
    display:inline-block;
}

.intro {
    position:relative

}

.bio{
    text-align: center;
    width: 50%;
    float: right;
    position: absolute;
    right: 400px;
    bottom: 56px;
}
.headshot {
    width: 150px;
    position: relative;
    left: 645px;
    top: 44px;
}
.portfolio {
    position: relative;
}

.row {
    display: flex;
    position: absolute;
    left: 220px;
    bottom: -26px;
  }
  
  .column {
    flex: 33.33%;
    padding: 2px;
    margin: 2px;
  }

.work {
    text-align: center;
}

.footer{
    display: flex;
    flex-wrap: wrap;
}
.contact {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    bottom: -92px;

}

.float-left{
    float:left;
}

.float-right{
    float:right;
}

h5 {
    font-size: medium;
}



    /* background-color: #031338;
    padding: 10px;
    color: rgb(28, 59, 62)*/